// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

//Fonts
:root {
  /// Regular font family
  --text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  /// Code (monospace) font family
  --code-font-stack: "Courier New", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Monaco", monospace;

  --heading-font: "Poppins", sans-serif;
}
