// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

%btn {
  border: none;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
  }

  & > *:first-child {
    margin-right: 1rem;
  }
}

.btn {
  @extend %btn;
  width: 100%;
  height: 100%;
  padding: 1.1rem 1.7rem;
  font-size: 2.1rem;
  font-weight: 600;
  svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
  }
}

.btn--small {
  &,
  &:link,
  &:visited {
    @extend %btn;

    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25rem 2.25rem;
    text-decoration: none;

    svg {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
    }
  }

  &--green {
    background: var(--color-primary);
    border-color: var(--color-primary);
  }

  &--red {
    background: $red;
    border-color: $red;
  }
}
