// ________BURGER__________
.burger {
  margin-left: 5rem;
  cursor: pointer;
  position: fixed;
  top: 1.5%;
  right: 2%;
  z-index: 200;
  &__line {
    width: 2.9rem;
    height: 0.3rem;
    background-color: var(--white);
    margin: 1rem 0;
  }
}

//   ---------- SIDEBAR NAV BAR -------------
.nav__sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  color: var(--normal-text);
  box-shadow: var(--box-shadow-primary);
  background-color: var(--dark-background);
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

.sidebar__items {
  padding: 0 4rem 0 2rem;
  cursor: pointer;
  @include flex-placeholder(flex-start, flex-start, row);
  flex-direction: column;
  width: 100%;
  margin-top: 7rem;

  &--btn {
    margin: 10rem 4rem 0 4rem;
  }

  &--icon {
    width: 8rem;
  }
  &--link {
    font-size: 3.4rem;
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: -0.06rem;
    white-space: nowrap;
    padding: 0.5rem 0;
    font-weight: 600;
    vertical-align: baseline;
    text-decoration: none;
    outline: none;
  }
  &--heading {
    font-size: 1.9rem;
    font-weight: lighter;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.7rem;
    margin-top: 2rem;
  }
}

.side__btns {
  width: 17rem;
  height: 5rem;
  margin: 4rem 4rem 0 2rem;
}

.top-btn {
  @include respond(phone) {
    display: none !important;
  }
}
