/* ------------------------------------CONTAINER------------------------------------  */
.container {
  display: grid;
  height: 600px;
  width: 1100px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  position: relative;
  margin: 0px 30px;
}

/* ------------------------------------IMAGES------------------------------------  */
.position-image-box {
  position: relative;
  width: 0;
  height: 0;
}

.box {
  position: absolute;
  width: 200px;
  top: -60px;
  left: -67px;
  z-index: 3;
}

.image-woman {
  position: absolute;
  position: absolute;
  width: 417px;
  left: -8px;
  top: 58px;
  z-index: 2;
}

.image-shadow {
  position: absolute;
  left: -690px;
  top: -320px;
  width: 1100px;
  z-index: 1;
}

.position-image-box img.image-woman-mobile {
  visibility: hidden;
}

/* ------------------ACCORDEON - QUESTIONS AND TITLE------------------  */
.accordeon-container {
  min-height: 45px;
  border-bottom: 1px solid var(--LightGrayishBlue);
}

.title-accordeon {
  padding-bottom: 30px;
  font-size: 2.3rem;
  color: var(--VeryDarkDesaturatedBlue);
}

.questions-answers {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.questions-accordeon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 2.2rem;
}

.questions-accordeon img {
  margin-right: 10px;
  transition: all 0.5s ease;
}

.questions-accordeon p:hover {
  color: var(--SoftRed);
}

.questions-accordeon.activa {
  font-weight: bold;
}

.questions-accordeon.activa img {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

/* ------------------------------ACCORDEON ANSWER------------------------------------  */
.answer-accordeon {
  font-size: 1.9rem;
  color: var(--DarkGrayishBlue);
  overflow: hidden;
  height: 0;
}

.answer-accordeon p {
  padding-right: 10px;
  padding-bottom: 10px;
}

.answer-accordeon.activa {
  overflow: visible;
  transition: all 0.5s ease;
  height: auto;
}

/* ------------------------------MOBILE------------------------------------  */

@media only screen and (max-width: 900px) {
  .attribution {
    text-align: center;
  }

  /* ------------------------------NEW CONTAINER------------------------------------  */
  .container {
    display: grid;
    width: 330px;
    grid-template-columns: none;
    grid-template-rows: 0.5fr 3fr;
    z-index: 1;
  }

  .questions-answers {
    align-items: center;
    width: auto;
    height: auto;
    padding: 0px 20px;
  }

  /* ------------------------------IMAGES HIDDEN------------------------------------  */
  .images img.image-shadow {
    display: none;
  }

  .images img.image-woman {
    display: none;
  }

  .position-image-box img.box {
    visibility: hidden;
  }

  .position-image-box img.image-woman-mobile {
    visibility: visible;
  }
  /* ------------------------------NEW CSS IN IMAGES------------------------------------  */

  .images {
    width: 0px;
    height: 0px;
    position: relative;
  }

  .questions-accordeon {
    font-size: 1.9rem;
  }

  .title-accordeon {
    font-size: 2.2rem;
  }
}
